<div class="hidden-navbar">
    <div class="container">
        <div class="info-contact pull-left">
            (+351) 244 401 300
        </div>
        <div class="info-facebook pull-right">
            <a href="https://www.facebook.com/Cumeimovel" target="_blank"><i class="fa fa-facebook-official"> Facebook</i></a>
        </div>
    </div>
</div>
<div class="main-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <div class="navbar" role="navigation">
            <a class="navbar-brand" href="/">
                <h1>Cumeimovel</h1>
            </a>

            <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="pull-left">
                    <span class="fa fa-reorder"></span>
                </span>
                <span class="pull-right">menu</span>
            </a>

            <div class="collapse navbar-collapse">
                <ul class="nav pull-right navbar-nav">
                    <li class="nav-itm z-root"><a href="#root">Home</a></li>
                    <li class="nav-itm z-principios"><a href="#principios">Princípios</a></li>
                    <li class="nav-itm z-portefolio"><a href="#portefolio">Portefólio</a></li>
                    <li class="nav-itm z-contactos"><a href="#contactos">Contactos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>