@model Cumeimovel.Model.ModelLogin

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
    <div class="container body-content">
        <form asp-action="Login" method="post">
            <input asp-for="User" type="text" />
            <input asp-for="Pass" type="password" />
            <input asp-for="ReturnUrl" type="hidden" />
            <input asp-for="IsPersistent" type="hidden" />
            <input type="submit" value="Enter" />
        </form>
    </div>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
</body>
</html>