@import '_imports.scss';

.hidden-navbar{
    background-color: $black;
    color: $white;
    padding: 0.1em 0;
    font-size: 1.1em;

    .info-facebook{
        a{
            color: $white;
        }
    }
}

.main-navbar{
    z-index: 1000;
    background-color: white;

    .navbar-brand{
        h1{
            font-family: 'Baloo Chettan', sans-serif;
            margin: 0;
            //font-weight: 800;
            color: $red;
        }
    }

    .nav{

        li{
            a{
                color: $black;
                font-weight: 400;
            }
        }

        li.active{
            a{
                font-weight: 500;
                border-bottom: 1px solid $red;
            }
        }
    }
}

.main-navbar.affix{
    width: 100%;
    top: 0;
}